<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>我的课程</title>

	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/reset.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/IHF.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/card.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/extra.css">

	<script src="__PUBLIC__/js/jquery.js"></script>
	<script src="__PUBLIC__/js/main.js"></script>
	<script	src="__PUBLIC__/js/mycourse-stu.js"></script>

</head>
<body>
    <{include file="Common/header"/}>
	<div class="nav">
		<div class="wrapper">
			<a class="nav-btn" href="__ROOT__/index.php/Home/Student/my_assignment">我的作业</a>
			<a class="nav-btn nav-btn-active" href="__ROOT__/index.php/Home/Student/my_course">我的课程</a>
			<a class="btn btn-primary" href="__ROOT__/index.php/Home/Student/course_in">加入新课程 + </a>
		</div>
	</div>

	<div class="content">
		<div class="wrapper" id="wrapper-main">
			<{foreach item="course" name="courses"}>
			<div class="card">
				<div class="card-info">
					<p class="comment class-num"><{$course['num']}> - <{$course['period']}></p>
					<h3 class="card-title"><{$course['name']}></h3>
					<p class="comment">教师: <{$course['teacher']}></p>
					<p class="comment">人数: <{$course['numOfStu']}>人</p>
					<p class="comment">描述: <{$course['description']}></p>
					<p class="comment">作业: <{if condition="$course['numOfHomework'] gt 0"}>
						已布置(<{$course['numOfHomework']}>)
						<{else /}>未布置
						<{/if}></p>
					<a class="btn packup-btn">收起作业</a>
					<a class="btn remove-btn" data-id="<{$course['id']}>">退选课程</a>
				</div>
				<{foreach item="homework" name="course['homework']"}>
				<div class="homework">
					<div class="rect"></div>
					<p class="comment">[<span><{if condition="$homework['isSubmit'] eq true"}>已提交<{else /}>未提交<{/if}></span>,
						<span><{if condition="$homework['isEnd'] eq true"}>已截止<{else /}>未截止<{/if}></span>]
						<span><{$homework['num']}> - <{$homework['name']}></span></p>
					<p class="comment">要求: <span><{$homework['require']}></span></p>
					<p class="comment">时间: <span><{$homework['start']}> - <{$homework['end']}></span></p>
					<{if condition="$homework['isSubmit'] eq true"}>
						<a class="btn btn-small" href="__ROOT__/index.php/Home/Student/assignment_submit/assignment_id/<{$homework['id']}>">重新提交</a>
						<{if condition="$homework['type'] neq 'word'"}>
						<a class="btn btn-small preview-btn"
						   data-type="<{$homework['type']}>"
						   data-url="<{$homework['fileUrl']}>"
						   data-classNum="<{$homework['num']}>"
						   data-name="<{$homework['submitName']}>"
						   data-time="<{$homework['submitTime']}>">预览作业</a>
						<{/if}>
					<{else /}>
					<a class="btn btn-primary btn-small" href="__ROOT__/index.php/Home/Student/assignment_submit/assignment_id/<{$homework['id']}>">提交作业</a>
					<{/if}>
					<div class="clear"></div>
				</div>
				<{/foreach}>
				<!-- <div class="homework">
					<div class="rect"></div>
					<p class="comment">[<span>未提交</span>, <span>未截止</span>]<span>PA021 - 当代社会科学领域的马克思主义哲学期末论文</span></p>
					<p class="comment">要求: <span>8000字以上，围绕当代社会科学领域的马克思主义哲学展开论文</span></p>
					<p class="comment">时间: <span>2016.01.19 - 2016.02.20</span></p>
					<a class="btn btn-small" href="#">预览作业</a>
					<a class="btn btn-small" href="#">重新提交</a>
					<div class="clear"></div>
				</div> -->
			</div>
			<{/foreach}>
		</div>

	</div>
    <{include file="Common/footer"/}>
	<{include file="Student/preview"/}>

</body>
</html>