<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>My Homework</title>

	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/reset.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/IHF.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/card.css">

</head>
<body>
    <{include file="Common/header"/}>
	<div class="nav">
		<div class="wrapper">
			<a class="nav-btn nav-btn-active" href="/Student/Myhomework">我的作业</a>
			<a class="nav-btn" href="/Student/Mycourse">我的课程</a>
		</div>
	</div>

	<div class="content">
		<div class="wrapper">
			<{foreach item="homework" name="homeworkDetails"}>
			<div class="card">
				<div class="card-info">
					<p class="comment class-num"><{homework['num']}></p>
					<h3 class="card-title"><{homework['name']}></h3>
					<p class="comment">课程: <{homework['courseName']}></p>
					<p class="comment">要求: <{homework['require']}></p>
					<p class="comment">时间: <span><{$homework['start']}> - <{$homework['end']}></span></p>
					<p class="comment">状态: <{if condition="homework['isSubmit'] eq true"}>已提交<{else /}>未提交<{/if}></span>,
						<span><{if condition="homework['isEnd'] eq true"}>已截止<{else /}>未截止<{/if}></p>
					<{if condition="homework['isSubmit'] eq true"}>
					<a class="btn" href="/Student/Preview/<{$homework['id']}>">预览作业</a>
					<a class="btn" href="/Student/Submit">重新提交</a>
					<{else /}>
					<a class="btn" href="/Student/Submit">提交作业</a>
					<{/if}>
				</div>
			</div>
			<{/foreach}>

			<!-- <div class="card">
				<div class="card-info">
					<p class="comment class-num">PC053 - 2016春</p>
					<h3 class="card-title">当代社会科学领域的马克思主义哲学期末论文</h3>
					<p class="comment">课程: 当代社会科学领域的马克思主义哲学</p>
					<p class="comment">要求: 8000字以上，围绕当代社会科学领域的马克思主义哲学展开论文</p>
					<p class="comment">时间: <span>2016.01.19 - 2016.02.20</span></p>
					<p class="comment">状态: 未提交，未截止</p>
					<a class="btn btn-active" href="#">提交作业</a>
				</div>
			</div>
			<div class="card">
				<div class="card-info">
					<p class="comment class-num">PC053 - 2016春</p>
					<h3 class="card-title">当代社会科学领域的马克思主义哲学</h3>
					<p class="comment">课程: 当代社会科学领域的马克思主义哲学</p>
					<p class="comment">要求: 8000字以上，围绕当代社会科学领域的马克思主义哲学展开论文</p>
					<p class="comment">时间: <span>2016.01.19 - 2016.02.20</span></p>
					<p class="comment">状态: 已提交，已截止</p>
					<a class="btn" href="#">预览作业</a>
					<a class="btn" href="#">重新提交</a>
				</div>
			</div> -->

		</div>
	</div>
    <{include file="Common/footer"/}>
</body>
</html>