<div class="modal-wrapper preview-wrapper" id="preview-modal">
	<div class="card preview-card">
		<div class="card-info">
			<a class="close-btn" href="javascript:void(0)"><b></b></a>
			<p class="comment class-num" id="preview-class-num"></p>
			<h3 class="card-title" id="preview-name"></h3>
			<p class="comment" id="preview-time"></p>
		</div>
		<iframe class="pdf" id="preview-pdf" src="__PUBLIC__/plugins/generic/web/viewer.html?file=__PUBLIC__/uploads/assignments/<{$pdfUrl}>"></iframe>
	</div>
</div>