<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>提交作业</title>

    <link rel="shortcut icon" href="__PUBLIC__/img/favicon.ico" >

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/reset.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/IHF.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/card.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/extra.css">

    <script src="__PUBLIC__/js/jquery.js"></script>
    <script src="__PUBLIC__/js/main.js"></script>
    <script src="__PUBLIC__/js/submit.js"></script>
</head>
<body>
    <{include file="Common/header"/}>
    <div class="nav">
        <div class="wrapper">
            <a class="nav-btn" href="__ROOT__/index.php/Home/Student/my_assignment">我的作业</a>
            <a class="nav-btn" href="__ROOT__/index.php/Home/Student/my_course">我的课程</a>
        </div>
    </div>

    <div class="content">
        <div class="wrapper">
            <div class="card">
                <div class="card-info">
                    <div class="card-title">提交: <{$submit['homeworkName']}></div>
                    <div class="comment submitted-comment">已提交文件: <{$submit['submitted']}></div>
                    <form class="submit-form" action="" method="post" enctype="multipart/form-data" onsubmit="return validate('<{$type}>')">
                        <input class="file" type="file" name="doc"
                               accept="<{if condition='$type eq mp4' }>.mp4<{elseif condition='$type eq pdf'/}>.pdf<{elseif condition='$type eq word'/}>.doc,.docx,.ppt,.pptx<{/if}>"/>
                        <input class="file_text" type="text"/>
                        <input class="file_submit btn" type="button" value="选择文件"/>
                        <br/>
                        <input class="btn" name="sub" type="submit" value="提交作业">
                    </form>
                </div>

            </div>
        </div>
    </div>
    <{include file="Common/footer"/}>
    <{include file="Student/preview"/}>
</body>
</html>