body{
	font-family: "Avenir Next", Avenir, "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
	background-color: #f4f4f4;
}

a {
	display: inline-block;
	text-decoration: none;
	color: #000;
}

.clear{
	clear: both;
}

.card-title {
	margin-bottom: 11px;
	font-size: 24px;
	color: #4a4a4a;
}

.comment {
	margin-bottom: 11px;
	font-size: 14px;
	line-height: 14px;
	color: #787878;
}

.warning-text {
	color: #57beed;
	font-weight: bold;
}

.wrapper{
	margin: 0 auto;
	width: 940px;
}

.btn {
	height: 44px;
	padding:0px 40px 0px 40px;
	margin-right: 10px;
	line-height: 44px;
	overflow: hidden;
	border: 1px solid #57beed;
	border-radius: 4px;
	font-size:18px;
	color: #57beed;
	text-align:center;
}

.btn-active {
	background-color: #57beed;
	color: #fff;
}

.btn-small {
	height: 36px;
	padding:0px 22px 0px 22px;
	line-height: 36px;
	font-size: 14px;
	line-height: 36px;
}


.nav {
	width: 100%;
	height: 64px;
	line-height: 64px;
	overflow: hidden;
	background-color: #fff;
	box-shadow: 0px 1px 2px #888888;
}

.nav-btn {
	display:inline-block;
	width: 120px;
	height: 64px;
	margin-right: -5px;	
	line-height: 64px;
	overflow: hidden;
	font-size: 18px;
	text-align: center;
}

.nav-btn-active {
	height: 60px;
	border-bottom: 4px solid #57beed;
	background-color: #f3f8ff;
	color:  #57beed;
}

.nav .btn{
	margin-top: 10px;
	float: right;
}

.card {
	margin-top: 24px;
	background-color: #fff;
	box-shadow: 0px 1px 2px #888888;
}

.rect {
	width: 4px;
	height: 128px;
	margin-right: 19px;
	float: left;
	background-color: #57beed;
}

.num {
	width: 31px;
	height: 38px;
	line-height: 38px;
	overflow: hidden;
	background-color: #fff;
	border: 1px solid #57beed;
	border-radius: 4px;
	font-size: 18px;
	color: #57beed;
	text-align: center;
	float: left;
}

.card-info {
	padding-top: 27px;
	padding-left: 24px;
	padding-bottom: 25px;
}

.class-num {
	margin-bottom: 0;
}

.card-info .btn {
	margin-top: 6px;
}

.homework {
	padding-top: 23px;
	padding-left: 24px;
	padding-bottom: 25px;
	padding-right: 10px;
}

.homework-active {
	background-color:#f3f8ff; 
}

.homework .btn-small{
	margin-top: 16px;
}

.homework-title {
	margin-bottom: 8px;
	line-height: 18px;
	font-size: 18px;
	color: #57beed;
}

.homework-info {
	width: 568px;
	padding-left: 10px;
	padding-right: 30px;
	float: left;
}

.homework-manage .btn-small{
	margin-top: 0;
	float: right;
}

.homework-tch .rect {
	height: 150px;
}


