body {
    font-family: "Avenir Next", Avenir, "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
    background-color: #f4f4f4;
}

input, label, select, option, textarea, button, fieldset, legend {
    font-family: "Avenir Next", Avenir, "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #000;
}

.clear {
    clear: both;
}

.card-title {
    margin-left: -2px;
    margin-bottom: 11px;
    font-size: 24px;
    color: #4a4a4a;
}

.comment {
    margin-bottom: 11px;
    font-size: 14px;
    line-height: 14px;
    color: #787878;
}

.warning-text {
    color: #57beed;
    font-weight: bold;
}

.content {
    position: relative;
}

.content:before {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.wrapper {
    margin: 0 auto;
    width: 940px;
}

.modal-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.btn {
    height: 44px;
    padding: 0px 40px 0px 40px;
    margin-right: 6px;
    line-height: 44px;
    overflow: hidden;
    border: 1px solid #57beed;
    border-radius: 4px;
    font-size: 18px;
    color: #57beed;
    text-align: center;
    cursor: pointer;
}

.btn-disabled {
    border-color: #a5a5a5;
    color:#a5a5a5;
}

.btn-active {
    background-color: #50a5e3;
    color: #fff;
}

.btn:hover {
    transition: all 0.1s linear 0s;
    background-color: #50a5e3;
    color: #fff;
}

.btn-disabled:hover {
    background: none;
    color: #a5a5a5;
}

.btn-small {
    height: 36px;
    padding: 0px 22px 0px 22px;
    line-height: 36px;
    font-size: 14px;
    line-height: 36px;
}

.close-btn {
    position: absolute;
    right: 28px;
    top:28px;
}

b {
    display: inline-block;
    width: 26px;
    height: 2px;
    background: #000;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    -webkit-transform: rotate(45deg);
}

b:after {
    content: '.';
    display: block;
    width: 26px;
    height: 2px;
    background: #000;
    -webkit-transform: rotate(-90deg);
}

.search-bar {
    display: inline-block;
    width: 300px;
    height: 24px;
    vertical-align: middle;
}

.nav {
    position: relative;
    width: 100%;
    height: 64px;
    line-height: 64px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.nav-btn {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    width: 120px;
    height: 64px;
    margin-right: -5px;
    line-height: 64px;
    overflow: hidden;
    font-size: 18px;
    color: #a5a5a5;
    text-align: center;
}

.nav-btn:hover {
    transition: all 0.1s linear 0s;
    overflow: hidden;
    border-bottom: 4px solid #57beed;
    background-color: #f3f8ff;
    color: #57beed;
}

.nav-btn-active {
    /*transition: all 0.1s linear 0s;*/
    overflow: hidden;
    border-bottom: 4px solid #57beed;
    background-color: #f3f8ff;
    color: #57beed;
}

.nav form {
    float: right;
}

.nav .btn {
    margin-top: 10px;
    margin-right: 0;
    float: right;
}

.nav .search-bar {
    margin-top: 10px;
    margin-right: 10px;
    float: right;
}

.rect {
    width: 4px;
    height: 128px;
    margin-right: 19px;
    float: left;
    background-color: #57beed;
}

.num {
    width: 31px;
    height: 38px;
    line-height: 38px;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #57beed;
    border-radius: 4px;
    font-size: 18px;
    color: #57beed;
    text-align: center;
    float: left;
}

.dialog {
    width: 370px;
    height: 240px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
}

.dialog p {
    margin-top: 70px;
    margin-bottom: 61px;
    font-size: 18px;
    color: #787878;
    text-align: center;
}

.dialog .confirm-btn {
    margin-left: 64px;
    background-color: #E35050;
    border-color: #E35050;
    color: #fff;
}

.card {
    margin-top: 24px;
    background-color: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.card-left {
    width: 630px;
    float: left;
}

.card-right {
    width: 290px;
    float: right;
}

.card-info {
    padding-top: 27px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 25px;
}

.class-num {
    margin-bottom: 0;
}

.card-info .btn {
    margin-top: 6px;
}

.homework {
    padding-top: 23px;
    padding-left: 24px;
    padding-bottom: 23px;
    padding-right: 10px;
}

.homework:nth-child(even) {
    background-color: #f3f8ff;
}

.homework .btn-small {
    margin-top: 16px;
}

.homework-title {
    margin-bottom: 8px;
    line-height: 18px;
    font-size: 18px;
    color: #57beed;
}

.homework-info {
    position: relative;
    width: 450px;
    padding-left: 10px;
    padding-right: 30px;
    float: left;
}

.homework-manage {
    height: 40px;
    overflow: hidden;
}

.homework-manage .btn-small {
    margin-top: 0;
    float: right;
}

.homework-manage .stu-info {
    margin-bottom: 23px;
}

.homework-tch .rect {
    height: 143px;
}

.homework-tch .btn {
    margin-top: 6px;
}

.homework .comment:last-child {
    margin-bottom: 0;
}

.preview-card .card-title {
    margin-top: 12px;
    margin-bottom: 5px;
    color: #57beed;
    font-weight: bold;
}

.comment-textarea {
    width: 223px;
    margin-bottom: 18px;
    height: 152px;
}

.grade-input {
    width: 223px;
    margin-bottom: 18px;
}

.correct-card .btn {
    width: 235px;
    box-sizing: border-box;
}

.input-card input[type="text"], .input-card .textarea {
    width: 538px;
    margin-bottom: 10px;
    font-size: 18px;
}

.input-card .comment {
    margin-top: 8px;
    margin-bottom: 5px;
}

.modal-wrapper .preview-card {
    width: 940px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pdf {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    position: relative;
    display: block;
    height: 500px;
    width: 100%;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 27px;
}

.modal-wrapper #really-cool-video {
    display: block;
    height: 500px;
    max-width: 890px;
    margin: 0 auto;
    margin-bottom: 24px;
}

.card-left #really-cool-video {
    display: block;
    height: 338px;
    width: 580px;
    margin: 0 auto;
    margin-bottom: 24px;
}

.toast {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.2);
}

.respond {
    width: 940px;
    height: 60px;
    margin: 10px auto;
}

.submitted-comment {
    margin-bottom: 20px;
}

.submit-form .file_submit {
    margin-top: 0;
    margin-left: 5px;
    margin-bottom: 12px;
}

.student-card{
    display: none;
    box-sizing: border-box;
    width: 300px;
    padding: 30px;
    position: absolute;
    top:-340px;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}



