body,html{
    height:100%;
}
.content{
    min-height:100%;
    background-color: #232323;


    height: auto !important;
    height: 100%; /*IE6不识别min-height*/
    position: relative;
}

.wrapper{
    padding-bottom: 20px;
}
.admi-class{
    padding-top: 27px;
    margin-left: 24px;
    margin-bottom: 25px;

}
.text-find{
    width:398px;
}
.btn-find,.btn-add{
    height: 44px;
    /*padding:0px 40px 0px 40px;*/
    margin-left: 10px;
    margin-right: 0px;
    line-height: 44px;
    overflow: hidden;
    border: 1px solid #57beed;

    border-radius: 4px;
    font-size:18px;
    color: #FFFFFF;
    text-align:center;

}
.btn-find{
    width: 148px;
    background-color: #57BEED;
    color: #FFFFFF;
}
.btn-add{
    background-color: #FFFFFF;
    color: #57BEED;
    width: 320px;
}
