body,html{
    height:100%;
}
.content{
    min-height:100%;
    height: auto !important;
    height: 100%; /*IE6不识别min-height*/
    position: relative;
}

.wrapper{
    padding-bottom: 20px;
}
.admi-class{
    padding-top: 27px;
    margin-left: 24px;
    margin-bottom: 25px;
}
.admi-class-info{
    margin-left: 24px;
    /*margin-bottom: 25px;*/
}
.admi-add-class{
    margin-bottom: 18px;
}
.text-find{
    width:376px;
    margin-right: 10px;
}

.download{
    color: #57BEED;
    font-size: 14px;

    margin-bottom: 11px;
    text-decoration: underline;

}
table tr td:nth-child(1){
    width:680px;
}
table tr td:nth-child(2){
    text-align: right;
    width:240px;
}

/*.admi-class-detail{*/
    /*width:840px;*/
/*}*/
/*.admi-class-info:hover{*/
    /*background-color: #f3f8ff;*/
/*}*/

.teacher-info{
    width: 500px;
}
.admi-class-info-detil{
    margin-bottom: 18px;
}
.admi-class-choose{
    padding-bottom: 40px;
}
.admi-class-info-detail{
    margin-bottom: 5px;
}
.class-homework-request{
    padding-left: 5px;
    font-size: 18px;
    height:138px;
    margin-bottom: 18px;
    width: 538px;
}

.login-remember{
    margin-bottom: 18px;
}

.respond-text{
    text-align: center;
    font-size: 18px;
    line-height: 60px;
    color: #FFFFFF;
}
.respond-danger{
    background-color: #E35050;

}
.respond-success{
    background-color: #50E3C4;
}
.respond-info{
    background-color: #50A5E3;
}
.respond-warning{
    background-color: #E3C150;
}
.input-button-add {
    background-color: #FFFFFF;
    width: 320px;
}
.admi-class-detail{
    width:854px;
}

input[type="submit"]{
    display: inline-block;
    background-color: #FFFFFF;
    vertical-align:top;
}
.sbtn{
    vertical-align:top;
}