/**
 * Created by danni on 2016/1/28.
 */
*{
    margin: 0px;
    padding: 0px;
}
.header{
    background-image: url("../../Public/img/header.png");
    height: 161px;
}

.wrapper-header{
    margin: 0 auto;
    width: 960px;
}
.title{
    float: left;
    margin-top: 80px;
}
.userbar{
    margin-top:19px;
    float: right;

    color: #FFFFFF;
    font-size: 14px;
}

ul{
    list-style: none;
}
ul li{
    float: left;
}

.footer{
    height:14px;
    padding: 16px 0 20px 0;
    font-size: 14px;
    color: #A5A5A5;
    width: 100%;
    bottom: 0;
    clear:both;
}
input[type="text"],input[type="password"]{
    padding-left: 5px;
}
input,textarea,select.text{
    padding:10px 5px 10px 5px;
    border-radius: 4px 4px;
    border:1px solid #57BEED;
    color:#9A9A9A;
    font-size: 18px;
    line-height: 24px;
}

input[type="submit"],input[type="button"]{
    display: inline-block;
    height: 46px;
    background-color: #fff;
    vertical-align: top;
    cursor: pointer;
}

input[type="submit"]:focus,input[type="button"]:focus{
    outline-style: none;
}

textarea:focus,input[type="text"]:focus {
    outline: none;
    box-shadow: 0 0 2px 1px #57BEED;
}

.textarea{
    resize: none;
    width: 252px;
    height: 152px;
    font-size: 14px;
}
.text{
    width: 538px;
}
select.text{
    width: 551px;
}

.time{
    width: 258px;
    margin-right: 6px;
}
.file{
    width: 350px;
    display: none;

}
.file_text{
    width:350px;
}
.file_submit{
    /*color: #FFFFFF;*/
    background-color: #57BEED;
    height: 44px;
}


