<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Details</title>

	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/reset.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/IHF.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/card.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/extra.css">

	<!--<link rel="stylesheet" type="text/css" href="../../../../Public/css/reset.css">-->
	<!--<link rel="stylesheet" type="text/css" href="../../../../Public/css/IHF.css">-->
	<!--<link rel="stylesheet" type="text/css" href="../../../../Public/css/card.css">-->

	<script src="__PUBLIC__/js/jquery.js"></script>
	<script	src="__PUBLIC__/js/main.js"></script>
	<script	src="__PUBLIC__/js/homework-details.js"></script>
</head>
<body>
    <{include file="Common/header"/}>
    <div class="nav">
		<div class="wrapper">
			<a class="nav-btn" href="__ROOT__/index.php/Home/Teacher/my_assignments">我的作业</a>
			<a class="nav-btn" href="__ROOT__/index.php/Home/Teacher/my_course">我的课程</a>
		</div>
	</div>

	<div class="content">
		<div class="wrapper">
			<div class="card">
				<div class="card-info">
					<p class="comment class-num"><{$homework['num']}></p>
					<h3 class="card-title"><{$homework['name']}></h3>
					<p class="comment">课程: <{$homework['course']}></p>
					<p class="comment">要求: <span><{$homework['require']}></span></p>
					<p class="comment">时间: <span><{$homework['start']}> - <{$homework['end']}></span></p>
					<p class="comment">状态: <span><{if condition="$homework['isEnd'] eq true"}>已截止<{else /}>未截止<{/if}>,
						已提交<{$homework['numOfSubmit']}>/<{$homework['sum']}>,
						<{if condition="$homework['corrected'] eq 0"}>未开始批阅
						<{else /}>已批阅<{$homework['corrected']}>/<{$homework['numOfSubmit']}>
						<{/if}></span></p>
					<a class="btn batch-btn" data-id="<{$homework['id']}>" >批量下载</a>
					<{if condition="$homework['type'] eq 'word'" }>
					<{else /}>
					<a class="btn" href="__ROOT__/index.php/Home/Teacher/assignment_to_modify/assignment_id/<{$homework['id']}>/student_id/<{$homework['next_student_id']}>/display/correct">继续批阅(<{$homework['corrected']}>/<{$homework['numOfSubmit']}>)</a>
					<{/if}>

					<{if condition="$homework['isEnd'] eq false"}>
					<a class="btn" href="__ROOT__/index.php/Home/Teacher/assignment_deliver/assignment_id/<{$homework['id']}>">修改</a>
					<a class="btn" href="#">移除</a>
					<{/if}>
				</div>

				<{foreach item="submit" name="homework['submit']"}>
				<div class="homework homework-manage">
					<div class="num">1</div>
					<div class="homework-info">
						<p class="homework-title"><{$submit['name']}></p>
						<p class="stu-info comment"><span class="stu-info-text"><{$submit['studentName']}>(<{$submit['studentNum']}>)</span></p>
						<{if condition="$submit['isCorrected'] eq true"}>
						<p class="homework-request comment"><{$submit['comment']}></p>
						<{/if}>

					</div>
					<a class="btn btn-small again-btn" data-stuid="<{$submit['student_id']}>" data-hwid="<{$homework['id']}>">重新提交</a>
					<{if condition="$homework['type'] eq 'word'"}>
					<a class="btn btn-small" href="__PUBLIC__/uploads/<{$submit['upload']}>">下载</a>
					<{else /}>
					<{if condition="$submit['isCorrected'] eq true"}>
					<a class="btn btn-small" href="__ROOT__/index.php/Home/Teacher/assignment_to_modify/assignment_id/<{$homework['id']}>/student_id/<{$submit['student_id']}>/display/modify">修改</a>
					<a class="btn btn-small packup-btn" href="javascript:void(0)"><{$submit['score']}>分/展开评语</a>
					<{else /}>
					<a class="btn btn-small" href="__ROOT__/index.php/Home/Teacher/assignment_to_modify/assignment_id/<{$homework['id']}>/student_id/<{$submit['student_id']}>/display/correct">批阅作业</a>
					<{/if}>
					<{/if}>
					<div class="clear"></div>
				</div>
				<{/foreach}>
			</div>



			<!--<div class="card">-->
				<!--<div class="card-info">-->
					<!--<p class="comment class-num">PC053 - 2016春</p>-->
					<!--<h3 class="card-title">当代社会科学领域的马克思主义哲学</h3>-->
					<!--<p class="comment">教师: 张亮</p>-->
					<!--<p class="comment">人数: 210人</p>-->
					<!--<p class="comment">描述: 围绕当代社会科学视域中的马克思主义哲学展开课程内容</p>-->
					<!--<p class="comment">作业: 已布置(1)</p>-->
					<!--<a class="btn" href="#">收起作业</a>-->
					<!--<a class="btn" href="#">退选课程</a>-->
				<!--</div>-->

				<!--<div class="homework homework-manage">-->
					<!--<div class="num">1</div>-->
					<!--<div class="homework-info">-->
						<!--<p class="homework-title">关于当代社会马克思主义哲学的思考</p>-->
						<!--<p class="stu-info comment">陈语(GF291002)</p>-->
						<!--<p class="homework-request comment">论文选题有意义论文选题有意义论文选题有意义论文选题有意义论文选题有意义论文选题有意义论文选题有意义论文选题有意义论文选题有意义论文选题有意义论文选题有意义论文选题有意义论文选题有意义论文选题有意义论文选题有意义论文选题有意义论文选题有意义论文选题有意义论文选题有意义论文选题有意义论文选题有意义论文选题有意义论文选题有意义论文选题有意义论文选题有意义论文选题有意义论文选题有意义论文选题有意义论文选题有意义论文选题有意义</p>-->
					<!--</div>-->
					<!--<a class="btn btn-small" href="#">修改</a>-->
					<!--<a class="btn btn-small packup-btn" data href="#">94分/收起评语</a>-->
					<!--<div class="clear"></div>-->
				<!--</div>-->
				<!--<div class="homework homework-manage">-->
					<!--<div class="num">2</div>-->
					<!--<div class="homework-info">-->
						<!--<p class="homework-title">关于当代社会马克思主义哲学的思考</p>-->
						<!--<p class="stu-info comment">陈语(GF291002)</p>-->
					<!--</div>-->
					<!--<a class="btn btn-small" href="#">修改</a>-->
					<!--<a class="btn btn-small packup-btn" href="#">94分/收起评语</a>-->
					<!--<div class="clear"></div>-->
				<!--</div>-->
				<!--<div class="homework homework-manage">-->
					<!--<div class="num">3</div>-->
					<!--<div class="homework-info">-->
						<!--<p class="homework-title">关于当代社会马克思主义哲学的思考</p>-->
						<!--<p class="stu-info comment">陈语(GF291002)</p>-->
					<!--</div>-->
					<!--<a class="btn btn-small btn-active" href="#">批阅作业</a>-->
					<!--<div class="clear"></div>-->
				<!--</div>-->
			<!--</div>-->
		</div>
	</div>
    <{include file="Common/footer"/}>
	<div class="modal-wrapper">
		<div class="dialog">
			<p>确定移除教师张亮？</p>
			<a href="javascript:void(0)" class="btn danger-btn">确认</a>
			<a href="javascript:void(0)" class="btn btn-active">取消</a>
			<a href="javascript:void(0)" class="close-btn"><b class="cross"></b></a>
		</div>
	</div>

	<div class="student-card">
		<h3 class="card-title">陈雪瑞</h3>
		<p class="comment">学号:141250000</p>
		<p class="comment">院系:软件学院</p>
		<p class="comment">年级:大二</p>
		<p class="comment">邮箱:xxx</p>
		<p class="comment">手机:xxx</p>
	</div>
</body>
</html>