<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Correct</title>

	<link rel="stylesheet" type="text/css" href="../../../../Public/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../../../../Public/css/IHF.css">
	<link rel="stylesheet" type="text/css" href="../../../../Public/css/card.css">
</head>
<body>
	<div class="nav">
		<div class="wrapper">
			<a class="nav-btn" href="#">我的作业</a>
			<a class="nav-btn nav-btn-active" href="#">我的课程</a>
		</div>
	</div>

	<div class="content">
		<div class="wrapper">
			<div class="card card-left preview-card">
				<div class="card-info">
					<p class="comment class-num">PC053 - 2016春</p>
					<h3 class="card-title">当代社会科学领域的马克思主义哲学的思考</h3>
					<p class="comment">陈语(GF291002)</p>
				</div>
			</div>
			<div class="card card-right correct-card">
				<div class="card-info">
					<p class="comment">评语</p>
					<textarea class="textarea comment-textarea"></textarea>
					<p class="comment">评分</p>
					<input class="grade-input">
					<a class="btn btn-active" href="#">确认并批阅下一份</a>
					<a class="btn" href="#">确认并结束批阅</a>
					<a class="btn" href="#">不作修改结束批阅</a>
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>