<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!--<meta charset="UTF-8">-->
	<{if condition="$isModify eq false"}>
	<title>布置新作业</title>
	<{else/}>
	<title>修改作业信息</title>
	<{/if}>

	<link rel="shortcut icon" href="__PUBLIC__/img/favicon.ico" >

	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/reset.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/IHF.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/card.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/extra.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/dateSelect.css">

	<script src="__PUBLIC__/js/jquery.js"></script>
	<script src="__PUBLIC__/js/main.js"></script>
	<script src="__PUBLIC__/js/validate.js"></script>
	<script	src="__PUBLIC__/js/homework-new.js"></script>
    <script src="__PUBLIC__/js/jquery-1.8.2.min.js"></script>
    <script	src="__PUBLIC__/js/jquery.date_input.pack.js"></script>

</head>
<body>
    <{include file="Common/header"/}>
	<div class="nav">
		<div class="wrapper">
			<a class="nav-btn" href="__ROOT__/Teacher/my_course">&lt 返回我的课程</a>
 		</div>
	</div>

	<div class="content">
		<div class="wrapper">
			<div class="card input-card">
				<div class="card-info">
					<{if condition="$isModify eq false" }>
					<h3 class="card-title">布置新作业</h3>
					<{else /}>
					<h3 class="card-title">修改作业</h3>
					<{/if}>
					<form id="new-form" name="new-form" method="post" action="" onsubmit="return validate();">
						<p class="comment">所属课程</p>
						<input class="readonly-input" type="text" name="course" readonly="readonly" placeholder="选择作业所属课程" value="<{$homework['course']}><{$course}>"/>
						<p class="comment" >作业名称</p>
						<input type="text" name="title" placeholder="输入作业名称" value="<{$homework['name']}>"/>
						<p class="comment" >作业类型
							<{if condition="$isModify eq false" }>
							<span class="warning-text">一旦设定不能修改</span>
							<{else /}>
							<span class="warning-text">不能修改</span>
							<{/if}></p>
						<select class="text" name="type" <{if condition="$isModify eq true"}> onfocus="this.defaultIndex=this.selectedIndex;" onchange="this.selectedIndex=this.defaultIndex;"<{/if}>>
							<option value="pdf">PDF(提供预览功能)</option>
							<option value="word">WORD/PPT(提供下载功能)</option>
							<option value="mp4">MP4(提供预览功能)</option>
						</select>
						<p class="comment">开始/截止时间</p>


                        <input style="width: 258px" id="startTime" name="startTime" type="text" class="time date_picker choose-date" value="<{$homework['start']}>">
                        <input style="width: 259px" id="endTime" name="endTime" type="text" class="time date_picker choose-date" value="<{$homework['end']}>">
						<!--<input class="time" name="startTime" type="date" value="<{$homework['start']}>"/>-->
						<!--<input class="time" name="endTime" type="date" value="<{$homework['end']}>"/>-->
						<p class="comment">作业要求</p>
						<textarea class="textarea" name="requi" placeholder="作业要求"><{$homework['require']}></textarea>
						<br/>
						<{if condition="$isModify eq false" }>
						<input class="btn btn-primary" name="save" type="submit" value="布置作业"/>
						<{else /}>
						<input class="btn btn-primary" name="save" type="submit" value="修改作业"/>
						<{/if}>
						<a class="btn" href="__ROOT__/Teacher/my_assignments">取消</a>
					</form>
				</div>
			</div>
		</div>
	</div>

	<script>
		var homeworkType = "<{$homework['type']}>";
	</script>
	<{include file="Common/footer" /}>
</body>
</html>