<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>New</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/reset.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/IHF.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/card.css">
</head>
<body>
    <{include file="Common/header"/}>
	<div class="nav">
		<div class="wrapper">
			<a class="nav-btn" href="__ROOT__/index.php/Home/Teacher/my_assignments">我的作业</a>
			<a class="nav-btn" href="__ROOT__/index.php/Home/Teacher/my_course">我的课程</a>
 		</div>
	</div>

	<div class="content">
		<div class="wrapper">
			<div class="card input-card">
				<div class="card-info">
					<h3 class="card-title">布置新作业</h3>
					<form>
						<p class="comment">所属课程</p>
						<input type="text" placeholder="选择作业所属课程" value="<{$homework['course']}>">
						<p class="comment" >作业名称</p>
						<input type="text" placeholder="输入作业名称" value="<{$homework['name']}>">
						<p class="comment">开始/截止时间</p>
						<input type="text" placeholder="输入作业名称" >
						<p class="comment">作业要求</p>
						<textarea class="textarea" placeholder="作业要求"><{$homework['require']}></textarea>
						<br/>
						<a class="btn" href="#">布置作业</a>
						<a class="btn" href="#">取消</a>
					</form>
				</div>
			</div>
		</div>
	</div>

	<{include file="Common/footer" /}>
</body>
</html>