<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>我的课程</title>

	<link rel="shortcut icon" href="__PUBLIC__/img/favicon.ico" >

	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/reset.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/IHF.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/card.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/extra.css">
	<script src="__PUBLIC__/js/jquery.js"></script>
	<script src="__PUBLIC__/js/main.js"></script>
	<script	src="__PUBLIC__/js/mycourse-tch.js"></script>
</head>
<body>
    <{include file="Common/header"/}>
	<div class="nav">
		<div class="wrapper">
			<a class="nav-btn" href="__ROOT__/Teacher/my_assignments">我的作业</a>
			<a class="nav-btn nav-btn-active" href="__ROOT__/Teacher/my_course">我的课程</a>
		</div>
	</div>

	<div class="content">
		<div class="wrapper" id="wrapper-main">
			<{foreach item="course" name="courses"}>
			<div class="card">
				<div class="card-info">
					<p class="comment class-num"><{$course['num']}> - <{$course['period']}></p>
					<h3 class="card-title"><{$course['name']}></h3>
					<p class="comment">教师: <{$course['teacher']}></p>
					<p class="comment">人数: <{$course['numOfStu']}>人</p>
					<p class="comment">描述:<{$course['description']}></p>
					<p class="comment">作业: <{if condition="$course['numOfHomework'] gt 0"}>
						已布置(<{$course['numOfHomework']}>)
						<{else /}>未布置
						<{/if}></p>
					<a class="btn btn-primary" href="__ROOT__/Teacher/assignment_deliver/course_id/<{$course['id']}>">布置新作业</a>
					<a class="btn packup-btn" href="javascript:void(0)">收起作业</a>
				</div>
				<{foreach item="homework" name="course['homework']"}>
				<div class="homework homework-tch" id="hw<{$homework['id']}>">
					<div class="rect"></div>
					<p class="comment"><span><{$homework['num']}> - <{$homework['name']}></span></p>
					<p class="comment">要求:
						<span class="warning-text">[<{switch name="homework['type']"}>
								<{case value="pdf"}>PDF格式<{/case}>
								<{case value="word"}>WORD/PPT格式<{/case}>
								<{case value="mp4"}>MP4格式<{/case}>
								<{default /}>未知格式
							<{/switch}>]</span>
						<span><{$homework['require']}></span></p>
					<p class="comment">时间: <span><{$homework['start']}> - <{$homework['end']}></span></p>
					<p class="comment">状态: <span class="warning-text"><{if condition="$homework['isEnd'] eq true"}>已截止<{else /}>未截止<{/if}>,
					已提交<{$homework['numOfSubmit']}>/<{$homework['sum']}>,
					<{if condition="$homework['corrected'] eq 0"}>未开始批阅
					<{else /}>已批阅<{$homework['corrected']}>/<{$homework['numOfSubmit']}>
					<{/if}></span></p>
					<a class="btn btn-primary btn-small" href="__ROOT__/Teacher/assignment_detail/assignment_id/<{$homework['id']}>">查看/批阅已提交作业</a>
					<a class="btn btn-small" href="__ROOT__/Teacher/assignment_deliver/assignment_id/<{$homework['id']}>">修改</a>
					<{if condition="$homework['isEnd'] eq false"}>
					<a class="btn btn-small delete-btn" data-hwid="<{$homework['id']}>"  href="javascript:void(0)">移除</a>
					<{/if}>
					<div class="clear"></div>
				</div>
				<{/foreach}>
			</div>
			<{/foreach}>

			<{empty name="courses"}>
			<div class="tip"> _(:3 」∠)_居然还没拥有任何课程，可以向系统管理员申请增加新课程哦</div>
			<{/empty}>

			<!-- <div class="card">
				<div class="card-info">
					<p class="comment class-num">PC053 - 2016春</p>
					<h3 class="card-title">当代社会科学领域的马克思主义哲学</h3>
					<p class="comment">教师: 张亮</p>
					<p class="comment">人数: 210人</p>
					<p class="comment">描述: 围绕当代社会科学视域中的马克思主义哲学展开课程内容</p>
					<p class="comment">作业: 已布置(1)</p>
					<a class="btn" href="#">布置新作业</a>
					<a class="btn" href="#">收起作业</a>
				</div>
				<div class="homework homework-tch">
					<div class="rect"></div>
					<p class="comment"><span>PA021 - 当代社会科学领域的马克思主义哲学期末论文</span></p>
					<p class="comment">要求: <span>8000字以上，围绕当代社会科学领域的马克思主义哲学展开论文</span></p>
					<p class="comment">时间: <span>2016.01.19 - 2016.02.20</span></p>
					<p class="comment">状态: <span>未截止, 已提交56/214, 未开始批阅</span> </p>
					<a class="btn btn-small btn-active" href="#">查看/批阅已提交作业</a>
					<a class="btn btn-small" href="#">修改</a>
					<a class="btn btn-small" href="#">移除</a>
					<div class="clear"></div>
				</div>
			</div> -->
		</div>
	</div>
    <{include file="Common/footer"/}>


</body>
</html>