<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>New</title>

	<link rel="stylesheet" type="text/css" href="../../../Public/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../../../Public/css/IHF.css">
	<link rel="stylesheet" type="text/css" href="../../../Public/css/card.css">
</head>
<body>
	<div class="nav">
		<div class="wrapper">
			<a class="nav-btn" href="#">我的作业</a>
			<a class="nav-btn nav-btn-active" href="#">我的课程</a>
 		</div>
	</div>

	<div class="content">
		<div class="wrapper">
			<div class="card input-card">
				<div class="card-info">
					<h3 class="card-title">修改资料</h3>
					<form>
						<p class="comment">学号</p>
						<input type="text" placeholder="学号">
						<p class="comment">姓名</p>
						<input type="text" placeholder="姓名">
						<p class="comment">院系</p>
						<input type="text" placeholder="院系">
						<p class="comment">专业</p>
						<input type="text" placeholder="专业">
						<p class="comment">年级</p>
						<input type="text" placeholder="年级">
						<p class="comment">邮箱</p>
						<input type="text" placeholder="邮箱">
						<br/>
						<a class="btn btn-active" href="#">修改资料</a>
					</form>
				</div>
			</div>
			<div class="card input-card">
				<div class="card-info">
					<h3 class="card-title">修改密码</h3>
					<form>
						<p class="comment">原密码</p>
						<input type="text" placeholder="学号">
						<p class="comment">新密码</p>
						<input type="text" placeholder="姓名">
						<p class="comment">重复新密码</p>
						<input type="text" placeholder="院系">
						<br/>
						<a class="btn btn-active" href="#">修改密码</a>
					</form>
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>