<div class='modal-wrapper select-wrapper' style="display: block">
	<div class='card select-card'>
		<h3 class="card-title">PA021-当代社会科学视域中的马克思主义哲学(张亮) 选课情况</h3>
		<a class='close-btn' href='javascript:void(0)'><b></b></a>
		<div class="student-table">
			<div class="student-table-cell">
				<div class="num">1</div>
				<p class="homework-title">陈睿</p>
				<p class="stu-info comment">哲学系 2014级</p>
			</div>
			<div class="student-table-cell student-table-cell-invisible">
				<div class="num">1</div>
				<p class="homework-title">陈睿</p>
				<p class="stu-info comment">哲学系 2014级</p>
			</div>
			<p class='no-tip'>还没有学生选择该课程……</p>
		</div>
	</div>
</div>