<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>教师管理</title>

    <link rel="stylesheet" type="text/css" href="../../../../Public/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../../../Public/css/card.css">
    <link rel="stylesheet" type="text/css" href="../../../../Public/css/IHF.css">

    <link rel="stylesheet" type="text/css" href="../../../../Public/css/extra.css">
</head>
<body>
<div class="content">
    <div class="header">
        <div class="wrapper-header">
            <div class="title">
                <img src="../../../../Public/img/title.png">
            </div>
            <div class = "userbar">
                <ul>
                    <li class="username">用户名</li>
                    <li class="split">&nbsp|&nbsp</li>
                    <li class="setting">设置</li>
                    <li class="split">&nbsp|&nbsp</li>
                    <li class="logout">退出</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="nav">
        <div class="wrapper">
            <a class="nav-btn nav-btn-active">教师管理</a>
            <a class="nav-btn" href="#">学生管理</a>
            <a class="nav-btn" href="#">课程管理</a>
        </div>
    </div>

    <div class="wrapper">
        <div class="card">
            <div class="admi-class">
                <input class="text-find" type="text" value="输入教师姓名或工号以查询"/>
                <input class="btn-find" type="button" value=" 查找教师"/>
                <input class="btn-add" type="button" value="添加教师（目前共有23名）"/>
            </div>

            <div class="admi-class-info homework homework-manage homework-active" >
                <div class="homework-num">1</div>
                <div class="teacher-info homework-info">
                    <p class="teacher-name homework-title">张亮（WR82256007）</p>
                    <p class="teacher-class-num comment">2门课程</p>
                    <br>
                    <table class="admi-class-detail">
                        <tr>
                            <td><p class="homework-check comment">当代社会科学视域中的马克思主义哲学</p></td>
                        </tr>
                        <tr>
                            <td> <p class="homework-ddl comment">当代社会科学视域中的马克思主义哲学（续）</p></td>
                        </tr>
                    </table>

                </div>
                <a class="btn btn-small" href="#">移除</a>
                <a class="btn btn-small" href="#">修改</a>
                <a class="btn btn-small btn-active" href="#">添加课程</a>

                <div class="clear"></div>
            </div>

            <div class="admi-class-info homework homework-manage" >
                <div class="homework-num">2</div>
                <div class="teacher-info homework-info">
                    <p class="teacher-name homework-title">张亮（WR82256007）</p>
                    <p class="teacher-class-num comment">2门课程</p>
                    <br>
                    <table class="admi-class-detail">
                        <tr>
                            <td><p class="homework-check comment">当代社会科学视域中的马克思主义哲学</p></td>
                        </tr>
                        <tr>
                            <td> <p class="homework-ddl comment">当代社会科学视域中的马克思主义哲学（续）</p></td>
                        </tr>
                    </table>

                </div>
                <a class="btn btn-small" href="#">移除</a>
                <a class="btn btn-small" href="#">修改</a>
                <a class="btn btn-small btn-active" href="#">添加课程</a>

                <div class="clear"></div>
            </div>

        </div>
    </div>

    <div class="footer">
        <div class="wrapper">
            <p>Designed & Developed by Ray,Danni,Moo & Polaris &copy 2016 Cross</p>
        </div>
    </div>
</div>





</body>
</html>