<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改课程信息</title>

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/reset.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/card.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/IHF.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/extra.css">

    <script type="text/javascript" src="__PUBLIC__/js/jquery-1.12.0.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/validate.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/main.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/modify.js"></script>
</head>
<body onload="show()">
<input style="display: none" id="msg" value="<{$msg}>">
<input style="display: none" id="type" value="<{$type}>">

<{include file="Common/header-admin"/}>
<div class="nav">
    <div class="wrapper">
        <a class="nav-btn" href="__ROOT__/Administer/teacher_manage">教师管理</a>
        <a class="nav-btn" href="__ROOT__/Administer/student_manage">学生管理</a>
        <a class="nav-btn" href="__ROOT__/Administer/course_manage">课程管理</a>
    </div>
</div>

<div class="content">
    <div class="wrapper">
        <form method="post" onsubmit="return checkLesson();return false;">
            <div class="card">
                <div class="admi-add-class admi-class">
                    <h3 class="card-title">修改课程信息</h3>
                </div>

                <div class="admi-class-info" >
                    <div class="admi-class-info-detil">
                        <p class="admi-class-info-detail comment">课程名称</p>
                        <input class="text" type="text" name="title" id="cou_name" value="<{$course['title']}>"/>
                        <!--<span class="hint"></span>-->
                    </div>
                    <div class="admi-class-info-detil">
                        <p class="admi-class-info-detail comment">授课教师</p>
                        <select class="text" type="text" name="teacher"  id="cou_tea">
                            <option value="请选择教师" selected>请选择教师</option>
                            <{foreach item="teacher" name="teachers"}>
                            <option value = "<{$teacher['number']}>"><{$teacher['name']}>(<{$teacher['number']}>)</option>
                            <{/foreach}>
                        </select>
                        <span class="hint"></span>
                    </div>

                    <!--<input class="temp_info" style="display: none" id="cou_year_temp" value="<{$course['year']}>">-->
                    <!--<input class="temp_info" style="display: none" id="cou_sea_temp" value="<{$course['season']}>">-->

                    <div class="admi-class-info-detil">
                        <p class="admi-class-info-detail comment">时间</p>
                        <!--<input class="text" type="text" name="time" id="cou_time" value="<{$course['time']}>"/>-->
                        <select class="text" style="width: 269px" name="year" id="cou_year">
                            <option value = "年份" selected>年份</option>
                            <option value = "2016年">2016年</option>
                            <option value = "2017年">2017年</option>
                            <option value = "2018年">2018年</option>
                        </select>
                        <select class="text" style="width: 269px" name="season" id="cou_sea">
                            <option value = "季节" selected>季节</option>
                            <option value = "春季">春季</option>
                            <option value = "秋季">秋季</option>
                        </select>
                        <!--<span class="hint"></span>-->
                    </div>
                    <div class="admi-class-info-detil">
                        <p class="admi-class-info-detail comment">人数</p>
                        <input class="text" type="text" name="people" id="cou_num" value="<{$course['students']}>"/>
                        <!--<span class="hint"></span>-->
                    </div>
                    <div class="admi-class-info-detil">
                        <p class="admi-class-info-detail comment">描述</p>
                        <textarea class="class-homework-request textarea" id="cou_des" name="depict"><{$course['depict']}></textarea>
                        <!--<span class="hint"></span>-->
                    </div>

                </div>
                <div class="admi-class-choose admi-class-info">
                    <input type="submit" class="btn-primary btn sbtn" name="add" value="完成修改">
                    <input type="button" class="btn sbtn cancel-modify" name="register" value="取消修改">
                </div>

            </div>
        </form>

    </div>

</div>
<{include file="Common/footer"/}>
<script>
    var cou_year = "<{$course['year']}>";
    var cou_sea = "<{$course['season']}>";
    var cou_tea = "<{$course['teacher']}>";
</script>
</body>
</html>