<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课程管理</title>

    <link rel="stylesheet" type="text/css" href="../../../../Public/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../../../Public/css/card.css">
    <link rel="stylesheet" type="text/css" href="../../../../Public/css/IHF.css">

    <link rel="stylesheet" type="text/css" href="../../../../Public/css/extra.css">
</head>
<body>
<div class="content">
    <div class="header">
        <div class="wrapper-header">
            <div class="title">
                <img src="../../../../Public/img/title.png">
            </div>
            <div class = "userbar">
                <ul>
                    <li class="username">用户名</li>
                    <li class="split">&nbsp|&nbsp</li>
                    <li class="setting">设置</li>
                    <li class="split">&nbsp|&nbsp</li>
                    <li class="logout">退出</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="nav">
        <div class="wrapper">
            <a class="nav-btn" href="#">教师管理</a>
            <a class="nav-btn" href="#">学生管理</a>
            <a class="nav-btn nav-btn-active">课程管理</a>
        </div>
    </div>

    <div class="wrapper">
        <div class="card">
            <div class="admi-class">
                <input class="text-find" type="text" value="输入课程名称、代号、或授课教师姓名以查找"/>
                <input class="btn btn-active" type="button" value="查找课程"/>
                <input class="input-button-add btn" type="button" value="添加新课程（目前共有14门）"/>
                <!--<a class="btn" style="display: inline">添加教师（目前共有23名）</a>-->
            </div>

            <div class="homework homework-manage" >
                <div class="num">1</div>
                <div class="homework-info">
                    <p class="class-title homework-title">PA021-当代社会科学视域中的马克思主义哲学（张亮）</p>
                    <p class="homework-total comment">共 1 份作业</p>
                    <br>
                    <table class="admi-class-detail">
                        <tr>
                            <td><p class="homework-check comment">[已批阅 202/202] 当代社会科学视域中的马克思主义哲学期末论文</p></td>
                            <td><a class="download" herf="#">批量下载</a></td>
                        </tr>
                        <tr>
                            <td> <p class="homework-ddl comment">[未截至] 当代社会科学视域中的马克思主义哲学期末论文</p></td>
                            <td><a class="download" herf="#">批量下载</a></td>
                        </tr>
                    </table>

                </div>
                <a class="btn btn-small" href="#">移除</a>
                <a class="btn btn-small" href="#">修改</a>
                <div class="clear"></div>
            </div>
            <div class="homework homework-manage" >
                <div class="num">2</div>
                <div class="homework-info">
                    <p class="class-title homework-title">PA021-当代社会科学视域中的马克思主义哲学（张亮）</p>
                    <p class="homework-total comment">共 1 份作业</p>
                    <br>
                    <table class="admi-class-detail">
                        <tr>
                            <td><p class="homework-check comment">[已批阅 202/202] 当代社会科学视域中的马克思主义哲学期末论文</p></td>
                            <td><a class="download" herf="#">批量下载</a></td>
                        </tr>
                        <tr>
                            <td> <p class="homework-ddl comment">[未截至] 当代社会科学视域中的马克思主义哲学期末论文</p></td>
                            <td><a class="download" herf="#">批量下载</a></td>
                        </tr>
                    </table>

                </div>
                <a class="btn btn-small" href="#">移除</a>
                <a class="btn btn-small" href="#">修改</a>
                <div class="clear"></div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="wrapper">
            <p>Designed & Developed by Ray,Danni,Moo & Polaris &copy 2016 Cross</p>
        </div>
    </div>
</div>





</body>
</html>