<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课程管理</title>

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/reset.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/card.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/IHF.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/extra.css">

    <script type="text/javascript" src="__PUBLIC__/js/jquery-1.12.0.js"></script>
    <!--<script type="text/javascript" src="__PUBLIC__/js/admin.js"></script>-->
    <script src="__PUBLIC__/js/main.js"></script>
    <script	src="__PUBLIC__/js/lesson-admin.js"></script>
</head>
<body>
<div class="content">
    <{include file="Common/header"/}>
    <div class="nav">
        <div class="wrapper">
            <a class="nav-btn" href="__ROOT__/index.php/Home/Administer/teacher_manage">教师管理</a>
            <a class="nav-btn" href="__ROOT__/index.php/Home/Administer/student_manage">学生管理</a>
            <a class="nav-btn nav-btn-active">课程管理</a>
        </div>
    </div>

    <div class="wrapper">
        <div class="card">
            <form method="post" action="course_manage">
            <div class="admi-class">
                <input class="text-find" name="search" id="search" type="text" placeholder="输入课程名称、代号、或授课教师姓名以查找"/>
                <!--<input class="btn" id="find" type="button" value="查找课程"/>-->
                <input class="btn sbtn" name="find" id="find" type="submit" value="查找课程">
                <a class="input-button-add btn" id="btn-add-cou" href="__ROOT__/index.php/Home/Administer/course_add">添加新课程（目前共有<{$numbers}>门）</a>
            </div>
            </form>
            <{foreach item="course" name="courses"}>
            <div class="homework homework-manage" >
                <div class="num"><{$course['order']}></div>
                <div class="homework-info">
                    <p class="class-title homework-title"><{$course['num']}>-<{$course['name']}>（<{$course['nameOfTea']}>）</p>
                    <p class="homework-total comment">共  <{$course['numOfHomework']}> 份作业</p>
                    <br>
                    <table class="admi-class-detail">
                        <{foreach item="homework" name="course['homeworks']"}>
                        <{if condition="homework['isEnd'] eq true"}>
                        <tr>
                            <td><p class="homework-check comment">[已批阅 <{$homework['corrected']}>/<{$homework['numOfSubmit']}>] <{$homework['name']}></p></td>
                            <td><a class="download" herf="#">批量下载</a></td>
                        </tr>
                        <{else /}>
                        <tr>
                            <td><p class="homework-check comment">[未截至] <{$homework['name']}></p></td>
                            <td><a class="download" herf="#">批量下载</a></td>
                        </tr>
                        <{/if}>
                        <{/foreach}>

                    </table>

                </div>
                <a class="btn btn-small admin-remove-btn" data-id="<{$course['num']}>" href="javascript:void(0)">移除</a>
                <a class="btn btn-small" href="#">修改</a>
                <div class="clear"></div>
            </div>
            <{/foreach}>
        </div>
    </div>

    <{include file="Common/footer"/}>
</div>

</body>
</html>