<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加新课程</title>

    <link rel="stylesheet" type="text/css" href="../../../../Public/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../../../Public/css/card.css">
    <link rel="stylesheet" type="text/css" href="../../../../Public/css/IHF.css">

    <link rel="stylesheet" type="text/css" href="../../../../Public/css/extra.css">
</head>
<body>
<div class="content">
    <div class="header">
        <div class="wrapper-header">
            <div class="title">
                <img src="../../../../Public/img/title.png">
            </div>
            <div class = "userbar">
                <ul>
                    <li class="username">用户名</li>
                    <li class="split">&nbsp|&nbsp</li>
                    <li class="setting">设置</li>
                    <li class="split">&nbsp|&nbsp</li>
                    <li class="logout">退出</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="nav">
        <div class="wrapper">
            <a class="nav-btn">教师管理</a>
            <a class="nav-btn" href="#">学生管理</a>
            <a class="nav-btn" href="#">课程管理</a>
        </div>
    </div>

    <div class="wrapper">
        <div class="card">
            <div class="admi-add-class admi-class">
                <h3 class="card-title">添加新课程</h3>
            </div>

            <div class="admi-class-info" >
                <div class="admi-class-info-detil">
                    <p class="admi-class-info-detail comment">课程名称</p>
                    <input class="text" type="text" value="课程名称"/>
                </div>
                <div class="admi-class-info-detil">
                    <p class="admi-class-info-detail comment">授课教师</p>
                    <input class="text" type="text" value="授课教师"/>
                </div>
                <div class="admi-class-info-detil">
                    <p class="admi-class-info-detail comment">人数</p>
                    <input class="text" type="text" value="人数"/>
                </div>
                <div class="admi-class-info-detil">
                    <p class="admi-class-info-detail comment">描述</p>
                    <textarea class="class-homework-request textarea">描述</textarea>
                </div>

            </div>
            <div class="admi-class-choose admi-class-info">
                <a class="btn btn-active">添加新课程</a>
            </div>

        </div>
    </div>

    <div class="footer">
        <div class="wrapper">
            <p>Designed & Developed by Ray,Danni,Moo & Polaris &copy 2016 Cross</p>
        </div>
    </div>
</div>





</body>

</html>