<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生管理</title>

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/reset.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/card.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/IHF.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/extra.css">

    <script type="text/javascript" src="__PUBLIC__/js/jquery-1.12.0.js"></script>
    <!--<script type="text/javascript" src="__PUBLIC__/js/admin.js"></script>-->
    <script src="__PUBLIC__/js/main.js"></script>
    <script	src="__PUBLIC__/js/student-admin.js"></script>
</head>
<body onload="show()">
<input style="display: none" id="msg" value="<{$msg}>">
<input style="display: none" id="type" value="<{$type}>">
<!--<body>-->
<div class="content">
    <{include file="Common/header-admin"/}>

    <div class="nav">
        <div class="wrapper">
            <a class="nav-btn" href="__ROOT__/Home/Administer/teacher_manage">教师管理</a>
            <a class="nav-btn nav-btn-active" href="#">学生管理</a>
            <a class="nav-btn" href="__ROOT__/Home/Administer/course_manage">课程管理</a>
        </div>
    </div>

    <div class="wrapper">
        <div class="card">
            <form method="post" action="student_manage">
            <div class="admi-class">
                <input class="text-find" type="text" name="search" placeholder="输入学生姓名或学号以查询"/>
                <input class="btn-primary btn sbtn" type="submit" name="find" value="查找学生"/>
                <!--<input class="input-button-add btn" id="btn-add-stu" type="button" value="添加新学生（目前共有<{$numbers}>名）" onclick="toAdd()"/>-->
                <a class="input-button-add btn" id="btn-add-stu" href="__ROOT__/index.php/Home/Administer/student_add">添加新学生（目前共有<{$numbers}>名）</a>
            </div>
            </form>
            <{foreach item="student" name="students"}>
            <div class="homework student-manage" >
                <div class="num"><{$student['order']}></div>
                <div class="teacher-info homework-info test">
                    <p class="student-name homework-title"><{$student['name']}>（<{$student['num']}>）</p>
                    <p class="teacher-class-num comment"><{$student['major']}> <{$student['grade']}> 共选<{$student['numOfClass']}>门课</p>
                    <!--<br>-->
                    <div class="admi-class-detail test-1">
                        <{foreach item="class" name="student['classes']"}>
                        <p class="homework-check comment class-name"><{$class['name']}></p>
                        <{/foreach}>
                    </div>

                    <!--<a class="btn btn-small admin-remove-btn" data-id="<{$student['num']}>" href="javascript:void(0)">移除</a>-->
                    <!--<input type="text" class="del-stuid" style="display: none" value="<{$student['num']}>">-->
                    <!--<a class="btn btn-small" id="btn-modify-stu" href="__ROOT__/index.php/Home/Administer/student_add/id/<{$student['num']}>">修改</a>-->
                    <!--<a class="btn btn-small up" href="javascript:void(0)">收起选课情况</a>-->
                </div>
                <a class="btn btn-small admin-remove-btn" data-id="<{$student['num']}>" href="javascript:void(0)">移除</a>
                <input type="text" class="del-stuid" style="display: none" value="<{$student['num']}>">
                <a class="btn btn-small" id="btn-modify-stu" href="__ROOT__/index.php/Home/Administer/student_add/id/<{$student['num']}>">修改</a>
                <a class="btn btn-small up" href="javascript:void(0)">收起选课情况</a>

                <div class="clear"></div>
            </div>
            <{/foreach}>
        </div>
    </div>

    <{include file="Common/footer"/}>
</div>

</body>
</html>