<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生管理</title>

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/reset.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/card.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/IHF.css">

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/extra.css">

    <script type="text/javascript" src="__PUBLIC__/js/jquery-1.12.0.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/test.js"></script>
</head>
<body>
<div class="content">
    <{include file="Common/header"/}>

    <div class="nav">
        <div class="wrapper">
            <a class="nav-btn" href="/Administrator/teacher-admin">教师管理</a>
            <a class="nav-btn nav-btn-active" href="#">学生管理</a>
            <a class="nav-btn" href="/Administrator/lesson-admin">课程管理</a>
        </div>
    </div>

    <div class="wrapper">
        <div class="card">
            <div class="admi-class">
                <input class="text-find" type="text" value="输入学生姓名或学号以查询"/>
                <input class="btn sbtn" type="button" value="查找学生"/>
                <input class="input-button-add btn" type="button" value="添加新学生（目前共有23名）"/>
                <!--<a class="btn" style="display: inline">添加教师（目前共有23名）</a>-->
            </div>

            <{foreach item="student" name="students"}>
            <div class="homework homework-manage" >
                <div class="num"><{$student['order']}></div>
                <div class="teacher-info homework-info test">
                    <p class="student-name homework-title"><{$student['name']}>（<{$student['num']}>）</p>
                    <p class="teacher-class-num comment"><{$student['major']}> <{$student['grade']}> 共选<{$student['numOfClass']}>门课</p>
                    <br>
                    <table class="admi-class-detail test-1">
                        <{foreach item="class" name="student['classes']"}>
                        <tr>
                            <td><p class="homework-check comment class-name"><{$class['name']}></p></td>
                        </tr>
                        <{/foreach}>
                    </table>

                </div>
                <a class="btn btn-small" href="#">移除</a>
                <a class="btn btn-small" href="#">修改</a>
                <a class="btn btn-small up" href="#">收起选课情况</a>

                <div class="clear"></div>
            </div>
            <{/foreach}>
        </div>
    </div>

    <{include file="Common/footer"/}>
</div>

</body>
</html>