<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生管理</title>

    <link rel="stylesheet" type="text/css" href="../../../../Public/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../../../Public/css/card.css">
    <link rel="stylesheet" type="text/css" href="../../../../Public/css/IHF.css">

    <link rel="stylesheet" type="text/css" href="../../../../Public/css/extra.css">
</head>
<body>
<div class="content">
    <div class="header">
        <div class="wrapper-header">
            <div class="title">
                <img src="../../../../Public/img/title.png">
            </div>
            <div class = "userbar">
                <ul>
                    <li class="username">用户名</li>
                    <li class="split">&nbsp|&nbsp</li>
                    <li class="setting">设置</li>
                    <li class="split">&nbsp|&nbsp</li>
                    <li class="logout">退出</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="nav">
        <div class="wrapper">
            <a class="nav-btn" href="#">教师管理</a>
            <a class="nav-btn nav-btn-active">学生管理</a>
            <a class="nav-btn" href="#">课程管理</a>
        </div>
    </div>

    <div class="wrapper">
        <div class="card">

            <div class="admi-class">
                <input class="text-find" type="text" value="输入学生姓名或学号以查询"/>
                <input class="btn btn-active" type="button" value="查找学生"/>
                <input class="input-button-add btn" type="button" value="添加新学生（目前共有23名）"/>
                <!--<a class="btn" style="display: inline">添加教师（目前共有23名）</a>-->
            </div>
            <div class="homework homework-manage homework-active" >
                <div class="num">1</div>
                <div class="teacher-info homework-info">
                    <p class="student-name homework-title">陈语（GF291002）</p>
                    <p class="teacher-class-num comment"><span>宗教学系</span> <span>2014级</span> <span>共选<span>2</span>门课</span></p>
                    <br>
                    <table class="admi-class-detail">
                        <tr>
                            <td><p class="homework-check comment">当代社会科学视域中的马克思主义哲学</p></td>
                        </tr>
                        <tr>
                            <td> <p class="homework-ddl comment">当代社会科学视域中的马克思主义哲学（续）</p></td>
                        </tr>
                    </table>

                </div>
                <a class="btn btn-small" href="#">移除</a>
                <a class="btn btn-small" href="#">修改</a>
                <a class="btn btn-small" href="#">收起选课情况</a>

                <div class="clear"></div>
            </div>
            <div class="homework homework-manage" >
                <div class="num">1</div>
                <div class="teacher-info homework-info">
                    <p class="student-name homework-title">陈语（GF291002）</p>
                    <p class="teacher-class-num comment"><span>宗教学系</span> <span>2014级</span> <span>共选<span>2</span>门课</span></p>
                    <br>
                    <table class="admi-class-detail">
                        <tr>
                            <td><p class="homework-check comment">当代社会科学视域中的马克思主义哲学</p></td>
                        </tr>
                        <tr>
                            <td> <p class="homework-ddl comment">当代社会科学视域中的马克思主义哲学（续）</p></td>
                        </tr>
                    </table>

                </div>
                <a class="btn btn-small" href="#">移除</a>
                <a class="btn btn-small" href="#">修改</a>
                <a class="btn btn-small" href="#">收起选课情况</a>

                <div class="clear"></div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="wrapper">
            <p>Designed & Developed by Ray,Danni,Moo & Polaris &copy 2016 Cross</p>
        </div>
    </div>
</div>





</body>
</html>