<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加新教师</title>

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/reset.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/card.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/IHF.css">

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/extra.css">
</head>
<body>
<div class="content">
    <div class="header">
        <div class="wrapper-header">
            <div class="title">
                <img src="__PUBLIC__/img/title.png">
            </div>
            <div class = "userbar">
                <ul>
                    <li class="username">用户名</li>
                    <li class="split">&nbsp|&nbsp</li>
                    <li class="setting">设置</li>
                    <li class="split">&nbsp|&nbsp</li>
                    <li class="logout">退出</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="nav">
        <div class="wrapper">
            <a class="nav-btn">教师管理</a>
            <a class="nav-btn" href="#">学生管理</a>
            <a class="nav-btn" href="#">课程管理</a>
        </div>
    </div>

    <div class="wrapper">
        <div class="card">
            <div class="admi-add-class admi-class">
                <h3 class="card-title">添加新教师</h3>
            </div>

            <div class="admi-class-info" >
                <div class="admi-class-info-detil">
                    <p class="admi-class-info-detail comment">工号</p>
                    <input class="text" type="text" value="工号"/>
                </div>
                <div class="admi-class-info-detil">
                    <p class="admi-class-info-detail comment">姓名</p>
                    <input class="text" type="text" value="姓名"/>
                </div>
                <div class="admi-class-info-detil">
                    <p class="admi-class-info-detail comment">院系</p>
                    <input class="text" type="text" value="院系"/>
                </div>
                <div class="admi-class-info-detil">
                    <p class="admi-class-info-detail comment">专业</p>
                    <input class="text" type="text" value="专业"/>
                </div>
                <div class="admi-class-info-detil">
                    <p class="admi-class-info-detail comment">邮箱</p>
                    <input class="text" type="text" value="邮箱"/>
                </div>
                <div class="admi-class-info-detil">
                    <p class="admi-class-info-detail comment">密码</p>
                    <input class="text" type="text" value="密码"/>
                </div>

            </div>
            <div class="admi-class-choose admi-class-info">
                <a class="btn btn-active">添加新教师</a>
            </div>

        </div>
    </div>

    <div class="footer">
        <div class="wrapper">
            <p>Designed & Developed by Ray,Danni,Moo & Polaris &copy 2016 Cross</p>
        </div>
    </div>
</div>

</body>

</html>