<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>教师管理</title>

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/reset.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/card.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/IHF.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/extra.css">


    <script type="text/javascript" src="__PUBLIC__/js/jquery-1.12.0.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/admin.js"></script>
    <script	src="__PUBLIC__/js/teacher-admin.js"></script>

</head>
<body>
<div class="content">
    <{include file="Common/header"/}>
    <div class="nav">
        <div class="wrapper">
            <a class="nav-btn nav-btn-active" href="#">教师管理</a>
            <a class="nav-btn" href="__ROOT__/index.php/Home/Administer/student_manage">学生管理</a>
            <a class="nav-btn" href="__ROOT__/index.php/Home/Administer/course_manage">课程管理</a>
        </div>
    </div>

    <div class="wrapper">
        <div class="card">
            <form method="post" action="teacher_manage">
            <div class="admi-class">
                <input class="text-find" type="text" name="search" placeholder="输入教师姓名或工号以查询"/>
                <input class="btn sbtn" type="submit" name="find" value="查找教师"/>
                <a class="input-button-add btn" id="btn-add-tea" href="__ROOT__/index.php/Home/Administer/teacher_add">添加新教师（目前共有<{$numbers}>名）</a>
            </div>
            </form>
            <{foreach item="teacher" name="teachers"}>
            <div class="homework homework-manage" >
                <div class="num"><{$teacher['order']}></div>
                <div class="teacher-info homework-info">
                    <p class="teacher-name homework-title"><{$teacher['name']}>（<{$teacher['num']}>）</p>
                    <p class="teacher-class-num comment"><{$teacher['numOfClass']}>门课程</p>
                    <br>
                    <table class="admi-class-detail">
                        <{foreach item="class" name="teacher['classes']"}>
                        <!--<tr>-->
                            <!--<td><p class="homework-check comment"><{$class['name']}></p></td>-->
                        <!--</tr>-->
                        <p class="homework-check comment"><{$class['name']}></p>
                        <{/foreach}>
                    </table>

                </div>
                <a class="btn btn-small admin-remove-btn" data-id="<{$teacher['num']}>" href="javascript:void(0)">移除</a>
                <a class="btn btn-small" href="#">修改</a>
                <a class="btn btn-small" href="#">添加课程</a>

                <div class="clear"></div>
            </div>
            <{/foreach}>
        </div>
    </div>

    <{include file="Common/footer"/}>
</div>

</body>
</html>