<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>教师管理</title>

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/reset.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/card.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/IHF.css">

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/extra.css">
</head>
<body>
<div class="content">
    <{include file="Common/header"/}>
    <div class="nav">
        <div class="wrapper">
            <a class="nav-btn nav-btn-active" href="#">教师管理</a>
            <a class="nav-btn" href="/Administrator/student-admin">学生管理</a>
            <a class="nav-btn" href="/Administrator/lesson-admin">课程管理</a>
        </div>
    </div>

    <div class="wrapper">
        <div class="card">
            <div class="admi-class">
                <input class="text-find" type="text" value="输入教师姓名或工号以查询"/>
                <input class="btn sbtn" type="button" value="查找教师"/>
                <input class="input-button-add btn" type="button" value="添加新教师（目前共有23名）"/>
            </div>

            <{foreach item="teacher" name="teachers"}>
            <div class="homework homework-manage" >
                <div class="num"><{$teacher['order']}></div>
                <div class="teacher-info homework-info">
                    <p class="teacher-name homework-title"><{$teacher['name']}>（<{$teacher['num']}>）</p>
                    <p class="teacher-class-num comment"><{$teacher['numOfClass']}>门课程</p>
                    <br>
                    <table class="admi-class-detail">
                        <{foreach item="class" name="classes"}>
                        <tr>
                            <td><p class="homework-check comment"><{$class['name']}></p></td>
                        </tr>
                        <{/foreach}>
                    </table>

                </div>
                <a class="btn btn-small" href="#">移除</a>
                <a class="btn btn-small" href="#">修改</a>
                <a class="btn btn-small" href="#">添加课程</a>

                <div class="clear"></div>
            </div>
            <{/foreach}>
        </div>
    </div>

    <{include file="Common/footer"/}>
</div>

</body>
</html>