<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加新教师</title>

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/reset.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/card.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/IHF.css">

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/extra.css">
</head>
<body>
<div class="content">
    <{include file="Common/header"/}>
    <div class="nav">
        <div class="wrapper">
            <a class="nav-btn" href="__ROOT__/index.php/Home/Administer/teacher_manage">教师管理</a>
            <a class="nav-btn" href="__ROOT__/index.php/Home/Administer/student_manage">学生管理</a>
            <a class="nav-btn" href="__ROOT__/index.php/Home/Administer/course_manage">课程管理</a>
        </div>
    </div>

    <div class="wrapper">
        <form method="post">
            <div class="card">
                <div class="admi-add-class admi-class">
                    <h3 class="card-title">添加新教师</h3>
                </div>

                <div class="admi-class-info" >
                    <div class="admi-class-info-detil">
                        <p class="admi-class-info-detail comment">工号</p>
                        <input class="text" type="text" name="tea_id" placeholder="工号"/>
                    </div>
                    <div class="admi-class-info-detil">
                        <p class="admi-class-info-detail comment">姓名</p>
                        <input class="text" type="text" name="name" placeholder="姓名"/>
                    </div>
                    <div class="admi-class-info-detil">
                        <p class="admi-class-info-detail comment">院系</p>
                        <input class="text" type="text" name="aca" placeholder="院系"/>
                    </div>
                    <div class="admi-class-info-detil">
                        <p class="admi-class-info-detail comment">专业</p>
                        <input class="text" type="text" name="spe" placeholder="专业"/>
                    </div>
                    <div class="admi-class-info-detil">
                        <p class="admi-class-info-detail comment">邮箱</p>
                        <input class="text" type="text" name="email" placeholder="邮箱"/>
                    </div>
                    <div class="admi-class-info-detil">
                        <p class="admi-class-info-detail comment">密码</p>
                        <input class="text" type="text" name="pwd" placeholder="密码"/>
                    </div>

                </div>
                <div class="admi-class-choose admi-class-info">
                    <!--<a class="btn">添加新教师</a>-->
                    <input type="submit" class="btn sbtn" name="add" value="添加新教师">
                </div>

            </div>
        </form>
    </div>

    <{include file="Common/footer"/}>
</div>

</body>

</html>