<div class="header">
        <div class="wrapper-header">
            <div class="title">
                <img src="__PUBLIC__/img/title.png">
            </div>
            <div class = "userbar">
                <ul>
                    <li class="username"><{$Think.session.username}></li>
                    <li class="split">&nbsp|&nbsp</li>
                    <li class="setting"><a href="__ROOT__/Home/Student/sets" class="header-userbar">设置</a></li>
                    <li class="split">&nbsp|&nbsp</li>
                    <li class="logout"><a href="__ROOT__/Home/Common/logout" class="header-userbar">退出</a></li>
                </ul>
            </div>
        </div>
    </div>

