<div class="header">
    <div class="wrapper-header">
        <div class="title">
            <img src="__PUBLIC__/img/title.png" srcset="__PUBLIC__/img/title@2x.png 2x">
        </div>
        <div class = "userbar">
            <ul>
                <li class="username"><{$Think.session.username}></li>
                <li class="split">&nbsp|&nbsp</li>
                <li class="feedback-li"><a class="header-userbar feedback-btn" href="javascript:void(0)">意见反馈</a></li>
                <li class="split">&nbsp|&nbsp</li>
                <li class="logout"><a href="__ROOT__/Common/logout" class="header-userbar">退出</a></li>
            </ul>
        </div>
    </div>
</div>