<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>传说中的404页面</title>
    <link rel="shortcut icon" href="__PUBLIC__/img/favicon.ico" >

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/reset.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/IHF.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/card.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/extra.css">

    <script src="__PUBLIC__/js/jquery.js"></script>
</head>
<body>
    <{include file="Common/header-common"/}>
    <div class="content">
        <div class="wrapper" style="height:100%">
            <div class="card not-found-card">
                <div class="card-info not-found-card-info">
                    <img class="not-found-text" src="__PUBLIC__/img/404.png">
                    <div class="not-found-tip">
                        <a class="not-found-link" href="__ROOT__/Common/Login"><p>欧麦嘎这个页面好像不存在欸</p>
                        <p>点我是不会回到主页面的</p>
                        <p>(￣^￣)</p></a></div>
                </div>
            </div>
        </div>
    </div>

    <{include file="Common/footer"/}>

    <script>
        minHeight();
        $(window).resize(minHeight);
        function minHeight(){
            //console.log(window.innerHeight);
            var minHeight = window.innerHeight - 220;
            $(".content").css("minHeight",minHeight+"px");
        }
    </script>
</body>
</html>