<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>找回密码</title>

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/reset.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/card.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/IHF.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/extra.css">

    <script type="text/javascript" src="__PUBLIC__/js/jquery-1.12.0.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/validate.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/main.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/find-pwd.js"></script>
</head>
<body onload="show()">
<input style="display: none" id="msg" value="<{$msg}>">
<input style="display: none" id="type" value="<{$type}>">
<{include file="Common/header-common"/}>
<div class="nav">
    <div class="wrapper">
        <a class="nav-btn" href="__ROOT__/Common/login">登陆</a>
        <a class="nav-btn" href="__ROOT__/Common/register">学生注册</a>
    </div>
</div>

<div class="content">
    <div class="wrapper">
        <div class="card">
            <div class="admi-add-class find-pwd-title">
                <h3 class="card-title">找回密码</h3>
            </div>

            <form id="pwd-find-mail" method="post">
                <div class="admi-class-info" >
                    <div class="admi-class-info-detil">
                        <p class="admi-class-info-detail comment">资料所填邮箱</p>
                        <input class="text" type="text" name="address" id="email-address" placeholder="邮箱"/>

                    </div>
                </div>
                <div class="admi-class-choose admi-class-info">
                    <!--<a class="btn">发送重置密码请求</a>-->
                    <input type="submit" class="btn-primary btn sbtn"  onclick="return checkEmail();return false"
                           name="send" id="mail-send" value="发送重置密码请求"/>
                </div>
            </form>

        </div>
    </div>

</div>
<{include file="Common/footer"/}>
</body>
</html>