<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>重置密码</title>

    <link rel="Shortcut Icon" href="__PUBLIC__/img/favicon.ico">
    <link rel="Bookmark" href="__PUBLIC__/img/favicon.ico">

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/reset.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/card.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/IHF.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/extra.css">


    <script type="text/javascript" src="__PUBLIC__/js/jquery-1.12.0.js"></script>
    <script  src="__PUBLIC__/js/validate.js"></script>
    <script  src="__PUBLIC__/js/main.js"></script>
    <script  src="__PUBLIC__/js/resetpwd.js"></script>

</head>
<body onload="show()">
<input style="display: none" id="msg" value="<{$msg}>">
<input style="display: none" id="type" value="<{$type}>">
<{include file="Common/header-common"/}>

<div class="nav">
    <div class="wrapper">
        <a class="nav-btn" href="__ROOT__/Common/login">登陆</a>
        <a class="nav-btn" href="__ROOT__/Common/register">学生注册</a>
    </div>
</div>

<div class="content">
    <div class="wrapper">
        <div class="card">
            <div class="admi-add-class admi-class">
                <h3 class="card-title">重置密码</h3>
            </div>

            <form method="post" id="pwdform" onsubmit="return checkReset();return false;">
                <div class="admi-class-info" >
                    <div class="admi-class-info-detil">
                        <p class="admi-class-info-detail comment">新密码</p>
                        <input class="text" type="password" name="new_pwd" id="new_pwd" placeholder="新密码"/>
                    </div>
                    <div class="admi-class-info-detil">
                        <p class="admi-class-info-detail comment">重复新密码</p>
                        <input class="text" type="password" name="new_pwd2" id="new_pwd2" placeholder="重复新密码"/>
                    </div>
                </div>
                <div class="admi-class-choose admi-class-info">
                    <input name="rset" id="rset" type="submit" class="btn-primary btn sbtn" value="重置密码">

                </div>
            </form>

        </div>
    </div>

</div>
<{include file="Common/footer"/}>
</body>
</html>