<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>找回密码</title>

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/reset.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/card.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/IHF.css">

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/extra.css">
</head>
<body>
<{include file="Common/header-common"/}>
<div class="nav">
    <div class="wrapper">
        <a class="nav-btn" href="__ROOT__/index.php/Home/Common/login">登陆</a>
        <a class="nav-btn" href="__ROOT__/index.php/Home/Common/register">学生注册</a>
    </div>
</div>

<div class="content">
    <div class="wrapper">
        <div class="card">
            <div class="admi-add-class admi-class">
                <h3 class="card-title">找回密码</h3>
            </div>

            <form method="post">
                <div class="admi-class-info" >
                    <div class="admi-class-info-detil">
                        <p class="admi-class-info-detail comment">资料所填邮箱</p>
                        <input class="text" type="text" name="address" placeholder="邮箱"/>
                    </div>
                </div>
                <div class="admi-class-choose admi-class-info">
                    <!--<a class="btn">发送重置密码请求</a>-->
                    <input type="submit" class="btn sbtn" name="send" value="发送重置密码请求"/>
                </div>
            </form>

        </div>
    </div>
    <{include file="Common/footer"/}>
</div>

</body>
</html>