<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生注册</title>

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/reset.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/card.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/IHF.css">

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/extra.css">
</head>
<body>
<{include file="Common/header-common"/}>

<div class="nav">
    <div class="wrapper">
        <a class="nav-btn" href="#">登陆</a>
        <a class="nav-btn nav-btn-active">学生注册</a>
    </div>
</div>

<div class="content">
    <div class="wrapper">
        <div class="card">
            <div class="admi-add-class admi-class">
                <h3 class="card-title">学生注册</h3>
            </div>

            <div class="admi-class-info" >
                <div class="admi-class-info-detil">
                    <p class="admi-class-info-detail comment">学号</p>
                    <input class="text" type="text" placeholder="学号"/>
                </div>
                <div class="admi-class-info-detil">
                    <p class="admi-class-info-detail comment">姓名</p>
                    <input class="text" type="text" placeholder="姓名"/>
                </div>
                <div class="admi-class-info-detil">
                    <p class="admi-class-info-detail comment">院系</p>
                    <input class="text" type="text" placeholder="院系"/>
                </div>
                <div class="admi-class-info-detil">
                    <p class="admi-class-info-detail comment">专业</p>
                    <input class="text" type="text" placeholder="专业"/>
                </div>
                <div class="admi-class-info-detil">
                    <p class="admi-class-info-detail comment">年级</p>
                    <input class="text" type="text" placeholder="年级"/>
                </div>
                <div class="admi-class-info-detil">
                    <p class="admi-class-info-detail comment">邮箱</p>
                    <input class="text" type="text" placeholder="邮箱"/>
                </div>
                <div class="admi-class-info-detil">
                    <p class="admi-class-info-detail comment">密码</p>
                    <input class="text" type="text" placeholder="密码"/>
                </div>

            </div>
            <div class="admi-class-choose admi-class-info">
                <a class="btn btn-active">&nbsp&nbsp&nbsp注册&nbsp&nbsp&nbsp</a>
            </div>

        </div>
    </div>
    <{include file="Common/footer"/}>
</div>

</body>
</html>