<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>消息反馈-Success</title>

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/reset.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/card.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/IHF.css">

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/extra.css">
</head>
<body>
<{include file="Common/header-common"/}>

<div class="nav">
    <div class="wrapper">
        <a class="nav-btn nav-btn-active" href="#">我的作业</a>
        <a class="nav-btn" href="#">我的课程</a>
        <a class="btn btn-active" href="#">加入新课程 + </a>
    </div>
</div>

<div class="content">
    <div class="wrapper">
        <div class="card">
            <div class="respond-success">
                <p class="respond-text">作业提交成功</p>
            </div>
        </div>

        <{foreach item="homework" name="homeworkDetails"}>
        <div class="card">
            <div class="card-info">
                <p class="comment class-num"><{homework['num']}></p>
                <h3 class="card-title"><{homework['name']}></h3>
                <p class="comment">课程: <{homework['courseName']}></p>
                <p class="comment">要求: <{homework['require']}></p>
                <p class="comment">时间: <span><{$homework['start']}> - <{$homework['end']}></span></p>
                <p class="comment">状态: <{if condition="homework['isSubmit'] eq true"}>已提交<{else /}>未提交<{/if}></span>,
                    <span><{if condition="homework['isEnd'] eq true"}>已截止<{else /}>未截止<{/if}></p>
                <{if condition="homework['isSubmit'] eq true"}>
                <a class="btn" href="/Student/Preview/<{$homework['id']}>">预览作业</a>
                <a class="btn" href="/Student/Submit">重新提交</a>
                <{else /}>
                <a class="btn" href="/Student/Submit">提交作业</a>
                <{/if}>
            </div>
        </div>
        <{/foreach}>

    </div>
    <{include file="Common/footer"/}>
</div>

</body>
</html>